<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"> 
	<display-name>Projet Twitter</display-name>
	<welcome-file-list>
		<welcome-file>main.jsp</welcome-file> 
	</welcome-file-list>
	<servlet> 
		<servlet-name>OperationServlet</servlet-name> 
		<servlet-class>service.OperationServlet</servlet-class> 
	</servlet> 
	<servlet-mapping> 
		<servlet-name>OperationServlet</servlet-name> 
		<url-pattern>/op</url-pattern> 
	</servlet-mapping>
	<servlet> 
		<servlet-name>CreateUserServlet</servlet-name> 
		<servlet-class>service.servlets.CreateUserServlet</servlet-class> 
	</servlet> 
	<servlet-mapping> 
		<servlet-name>CreateUserServlet</servlet-name> 
		<url-pattern>/user/createuser</url-pattern> 
	</servlet-mapping>
	<servlet> 
		<servlet-name>LoginServlet</servlet-name> 
		<servlet-class>service.servlets.LoginServlet</servlet-class> 
	</servlet> 
	<servlet-mapping> 
		<servlet-name>LoginServlet</servlet-name> 
		<url-pattern>/user/login</url-pattern> 
	</servlet-mapping>
	<servlet> 
		<servlet-name>LogoutServlet</servlet-name> 
		<servlet-class>service.servlets.LogoutServlet</servlet-class> 
	</servlet> 
	<servlet-mapping> 
		<servlet-name>LogoutServlet</servlet-name> 
		<url-pattern>/user/logout</url-pattern> 
	</servlet-mapping> 
	<servlet> 
		<servlet-name>AddCommentServlet</servlet-name> 
		<servlet-class>service.servlets.AddCommentServlet</servlet-class> 
	</servlet> 
	<servlet-mapping> 
		<servlet-name>AddCommentServlet</servlet-name> 
		<url-pattern>/user/AddComment</url-pattern> 
	</servlet-mapping>
	<servlet> 
		<servlet-name>TestPrintComment</servlet-name> 
		<servlet-class>service.servlets.TestPrintComment</servlet-class> 
	</servlet> 
	<servlet-mapping> 
		<servlet-name>TestPrintComment</servlet-name> 
		<url-pattern>/user/TestPrintComment</url-pattern> 
	</servlet-mapping>
	<servlet>
		<servlet-name>ListMessage</servlet-name> 
		<servlet-class>service.servlets.ListMessageFollower</servlet-class> 
	</servlet> 
	<servlet-mapping>
		<servlet-name>ListMessage</servlet-name>
		<url-pattern>/ListMessage</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RemoveComments</servlet-name> 
		<servlet-class>service.servlets.RemoveComments</servlet-class> 
	</servlet>
	<servlet-mapping>
		<servlet-name>RemoveComments</servlet-name>
		<url-pattern>/RemoveComments</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddFriend</servlet-name>
		<servlet-class>service.servlets.AddFriendServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddFriend</servlet-name>
		<url-pattern>/AddFriend</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RemoveFriend</servlet-name>
		<servlet-class>service.servlets.RemoveFriendServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RemoveFriend</servlet-name>
		<url-pattern>/RemoveFriend</url-pattern>
	</servlet-mapping>
	<servlet>SetPassword
		<servlet-name>SetPassword</servlet-name>
		<servlet-class>service.servlets.SetPassword</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SetPassword</servlet-name>
		<url-pattern>/SetPassword</url-pattern>
	</servlet-mapping>	
	<servlet>
		<servlet-name>SetPicture</servlet-name>
		<servlet-class>service.servlets.SetPicture</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SetPicture</servlet-name>
		<url-pattern>/SetPicture</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LikeServlet</servlet-name>
		<servlet-class>service.servlets.LikeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LikeServlet</servlet-name>
		<url-pattern>/Like</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DislikeServlet</servlet-name>
		<servlet-class>service.servlets.DislikeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DislikeServlet</servlet-name>
		<url-pattern>/Dislike</url-pattern>
	</servlet-mapping>
</web-app>
