<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd"> 
<web-app> 
	<servlet> 
		<servlet-name>Bonjour</servlet-name> 
		<servlet-class>HelloWorld</servlet-class> 
	</servlet>
	
	<servlet> 
		<servlet-name>Calcul</servlet-name> 
		<servlet-class>services.Operations</servlet-class> 
	</servlet>
	
	<servlet> 
		<servlet-name>Simple1</servlet-name> 
		<servlet-class>services.SimpleServlet</servlet-class> 
	</servlet>
	
	<servlet> 
		<servlet-name>Simple2</servlet-name> 
		<servlet-class>services.SimpleServlet2</servlet-class> 
	</servlet>
	
	<servlet-mapping> 
		<servlet-name>Bonjour</servlet-name> 
		<url-pattern>/Bonjour</url-pattern> 
	</servlet-mapping> 
	
	<servlet-mapping> 
		<servlet-name>Calcul</servlet-name> 
		<url-pattern>/Calcul</url-pattern> 
	</servlet-mapping> 
	
	<servlet-mapping> 
		<servlet-name>Simple1</servlet-name> 
		<url-pattern>/Simple1</url-pattern> 
	</servlet-mapping> 
	
	<servlet-mapping> 
		<servlet-name>Simple2</servlet-name> 
		<url-pattern>/Simple2</url-pattern> 
	</servlet-mapping> 
	
</web-app>